body {
    background-color: #000000;
}

.row {
    height: 100%;
    width: 100%;
}

.max-height {
    height: 100%;
}

.double-h {
    height: 100px;
}

.square {
    width: 50px;
    height: 50px;

}

h1, h2 {
    color: white;
}


/* Borders */

.borders {
    border-top: black 2px solid;
    border-left: black 2px solid;
    border-right: #202020 2px solid;
    border-bottom: #202020 2px solid;

}

/* Colors */

.grey {
    background-color: #666666;
}

.dark-grey {
    background-color: #141414;
}

.green {
    background-color: #48FE02;
}

.red {
    background-color: #F40002;
}

.orange {
    background-color: #C75000;
}

.fucsia {
    background-color: #EF06F9;
}

.yellow {
    background-color: #FBFF08;
}

.azure {
    background-color: #46CFD1;
}

